@use "../../styles/colors" as colors;

.container {
  padding: 20px;
  background-color: colors.$background_paper;
}

.light {
  @mixin background-opacity($color, $opacity) {
    background: $color;
    background: rgba($color, $opacity);
  }
}

.dark {
  background-color: colors.$background_paper;
}
