@use "../../styles/colors" as colors;

.container {
  background-color: colors.$background_default;
}

.light {
  background-color: rgba(colors.$background_default, 10%);
}

.dark {
  background-color: colors.$background_paper;
}

.number {
  background-color: rgba(colors.$background_default, 20%);
}
