.wrapper {
  padding: 20px;
  background-color: colors.$background_paper;
}

.light {
  @mixin background-opacity($color, $opacity) {
    background: $color;
    background: rgba($color, $opacity);
  }
}
