@use "../../styles/colors" as colors;

.container {
  background-color: colors.$text_disabled;
}

.light {
  background-color: rgba(colors.$background_default, 10%);
}

.dark {
  background-color: rgba(colors.$background_paper, 10%);
}

.number {
  background-color: colors.$primary_main;
}
