@use "../../styles/colors";

.product-info-creator {
  width: 400px;
  border-radius: 10px;
  font-size: 1rem;
  background-color: rgba(colors.$primary_main, 20%);
}
.title {
  font-size: 1rem;
  padding: 5px;
  color: colors.$text_primary;
  text-transform: uppercase;
  font-weight: bold;
}

.user-container {
  padding: 10px;
  width: 100%;
  background-color: colors.$background_paper;
}
