@use "../../styles/colors";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: colors.$background_paper;
}

.link {
  color: #fff;
  margin-right: 15px;
  color: white;
  padding: 14px 25px;
  text-decoration: none;
}

.footerText {
  color: colors.$text_secondary;
  margin: 0 !important;
}
