@use "../../styles/colors.scss";

.container {
  background-color: colors.$primary_main;
  margin-top: 150px;
  margin-bottom: 50px;
  padding-bottom: 2rem;
}

.title {
  font-size: 100px;
  font-weight: bolder;
  color: colors.$text_primary;
}

.text {
  font-size: 1.5rem;
  padding: 3rem;
  color: colors.$text_secondary;
  width: 50%;
}

.button {
  background-color: colors.$text_primary !important;
  width: 180px;
}

.steps {
  position: relative;
  bottom: 570px;
  margin-right: 50px;
}
